.book-description {
  background-color: burlywood;
  padding: 20px;
}
.description-flex {
  display: flex;
  justify-content: start;
}
.description-info {
  margin-left: 6%;
}
.desc-img-div {
  width: 20%;
  object-fit: cover;
}
.desc-img {
  width: 100%;
  /* margin-left: 25%; */
}
.desc-desc {
  margin-top: 30px;
}
.bookDescLink {
  text-decoration: none;
  color: inherit;
  font-size: 1.3em;
}
.bookDescLink:hover {
  color: rgb(244, 157, 51);
  transition: all 0.2s;
}
